* {
    margin: 0;
    padding: 0;
}
html {

}
body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    overflow: hidden;
}
.container {
    padding: 100px;
}
img {
    height: 100%;
    width: 100%;
}
h1 {

}
p {
    margin: 0 0 50px;
}
a {
    height: 100px;
    width: 100%;
    margin: 30px;
    padding: 25px;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 30%;
    background: linear-gradient(135deg, #ffffff, cyan);
    color: black;
}