body {
    background-color: aqua;
}
ul {
    list-style: square !important;
}
.navbar {
    display: none;
    position: relative !important;
}
#nav-btn {
    display: flex;
    transform: translate(20px, 20px);
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 6px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
main {
    height: 100%;
    width: 100%;
}
.box {
    height: ;
    width: ;
    box-sizing: border-box;
    padding: 10%;
    margin: 5%;
    background-color: #ffffff;
    box-shadow: rgba(204, 204, 204, 0.767);
}
.password-criteria {

}
.reset-title {
    margin: 3% 0;
}
.reset-description {
    margin: 5% 0;
}
#email {    
    width: 45em;
    margin: auto;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: rgba(218, 214, 214, 0.460);
}
#pwd {
    width: 35em;
    margin: auto;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: rgba(218, 214, 214, 0.460);
}
#pwd-confirm {
    width: 35em;
    margin: auto;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: rgba(218, 214, 214, 0.460);
}
#pwd, #pwd-confirm {
    margin: 10px 0;
}
#btn-reset {
    display: flex;
    position: relative;
    width: 275px;
    margin:3% 0;
    padding: 15px;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: aqua;
}
#btn-reset:hover {
    box-shadow: rgba(red, green, blue, alpha);
    transition: 0.8s;
    cursor: pointer;
}
#copyright {
    display: flex;
    justify-content: center;
    color: black;
}