<button class="notification" type="button" onclick="">
    <i class="fas fa-bell bell"></i>
    <div class="notification-count">10</div>
</button>

<div id="navbar" class="navbar">
    
    <div class="app-logo">
        <button id="menu" onclick="toggleMenu()"><i class="fas fa-bars"></i></button>
        <span class="app-name">
            <a href="/">BudgetApp</a>
        </span>
    </div>
    <div class="profile">
        <center>
            <img id="profile-pic" src="../IMG/forbes.png" alt="Profile Picture">
            <h3>John Doe</h3>
            <a href="/profile" target="_self">View Profile</a>
        </center>
    </div>
    <div class="links-area">
        <ul>
            <li class="list">
                <a href="/" class="links">
                    <i class="fas fa-home icons"></i> 
                    <span class="nav-items">Summary</span>
                </a>
            </li>
            <li class="list">
                <a href="/expenses" class="links">
                    <i class="fas fa-hand-holding-usd icons"></i> 
                    <span class="nav-items">Expenses</span>
                </a>
            </li>
            <li class="list">
                <a href="/income" class="links">
                    <i class="fas fa-wallet icons"></i> 
                    <span class="nav-items">Income</span>
                </a>
            </li>
            <li class="list">
                <a href="/savings" class="links">
                    <i class="fas fa-piggy-bank icons"></i> 
                    <span class="nav-items">Savings</span>
                </a>
            </li>
            <li class="list">
                <a href="/find-atm" class="links">
                    <i class="fas fa-map-marked-alt icons"></i> 
                    <span class="nav-items">ATM Map</span>
                </a>
            </li>
            <li class="list">
                <a href="/report-issue" class="links">
                    <i class="fas fa-bug icons"></i> 
                    <span class="nav-items">Report Issue</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="app-info">
        <p class="app-details">Version 1.0</p>
        <p class="app-details">Copyright BudgetApp 2021 &copy;</p>
    </div>
    <!--<button id="button"><a href="../HTML/login.html" style="color: black;"> Logout <i class="fas fa-sign-out-alt"></i></a></button>-->
    <ul>
        <li class="list"><a href="/logout" class="links"><i class="fas fa-sign-out-alt icons"></i> <span class="nav-items">Logout</span></a></li>
    </ul>
</div>