<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is a budget web app tool created by Dennis Williams">

        <link rel="stylesheet" type="text/css" href="../CSS/404.css">
        <link rel="icon" type="image" href="https://img.icons8.com/dusk/2x/coin-in-hand.png">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

        
        <title>Budget App | Page Not Found</title>
    </head>
    <body>
        <div class="container">
            <center>
                <img src="../IMG/404.png" alt="">
                <h1>Oops! Page not found</h1>
                <p>The page you are looking for doesn't exist or an error occurred.</p>
                <a id="" href="../HTML/index.html">Home</a>
                <a id="" href="../HTML/report-error.html">Report Error</a>
            </center>
        </div>
    </body>
</html>