<%- include ('partials/markup.ejs') %> 
<%- include ('partials/navbar.ejs') %> 

<main>
        <div class="wrapper">
            <div id="banner">
                <h1 class="banner-greeting"><center>Good Evening!</center></h1>
            </div>
            <div class="btn-grp">
                    <button id="view-expense" class="tab" onclick="showExpenses()">View Expenses</button>
                    <button id="add-expense" class="tab" onclick="addExpense()">Add Expense</button>
            </div>
            <div id="expenses">
                <center><h1 id="expense-heading">Expenses</h1></center>
                
                <div class="expenses-table">
                    <table>
                            <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Due Date</th>
                                <th>Date Added</th>
                            </tr>
                        <tbody>
                            <tr>
                                <td>Gas</td>
                                <td>Transportation</td>
                                <td>$35.00</td>
                                <td>4/29/2021</td>
                                <td>4/13/2021</td>
                            </tr>
                            <tr>
                                <td>Gas</td>
                                <td>Transportation</td>
                                <td>$35.00</td>
                                <td>4/29/2021</td>
                                <td>4/13/2021</td>
                            </tr>
                            <tr>
                                <td>Gas</td>
                                <td>Transportation</td>
                                <td>$35.00</td>
                                <td>4/29/2021</td>
                                <td>4/13/2021</td>
                            </tr>
                            <tr>
                                <td>Gas</td>
                                <td>Transportation</td>
                                <td>$35.00</td>
                                <td>4/29/2021</td>
                                <td>4/13/2021</td>
                            </tr>
                            <tr>
                                <td>Gas</td>
                                <td>Transportation</td>
                                <td>$35.00</td>
                                <td>4/29/2021</td>
                                <td>4/13/2021</td>
                            </tr>
                            <tr>
                                <td>Gas</td>
                                <td>Transportation</td>
                                <td>$35.00</td>
                                <td>4/29/2021</td>
                                <td>4/13/2021</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="new-expense">
                <h1 id="expense-title">New Expense</h1>
                <div id="expense-body">
                    <form>
                        <label for="">Title</label>
                        <br>
                        <input id="title" class="expense-fields" name="title" type="text" placeholder="Name of Expense" required>
                        <br>
                        <label for="">Category</label>
                        <br>
                        <input id="category" class="expense-fields" name="category" type="text" placeholder="Expense Category" required>
                        <br>
                        <label for="">Amount</label>
                        <br>
                        <input id="amount" class="expense-fields" name="amount" type="text" placeholder="Amount ($)" required>
                        <br>
                        <label for="">Date</label>
                        <br>
                        <input id="date" class="expense-fields" name="date" type="date" placeholder="Date" required>
                        <br>
                        <button id="submit-expense" onclick="submitData()">Add Expense</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        &copy; This project was created by Dennis Williams 2021
    </footer>
</body>

<script>
    //Expenses: Show Expenses and Add Expense Form
    var viewExpenses = document.getElementById('view-expense');
    var addExpense = document.getElementById('add-expense');
    var expenses = document.getElementById('expenses');
    var newExpense = document.getElementById('new-expense');
    var submitBtn = document.getElementById('submit-expense');

    viewExpenses.addEventListener('click', function showExpenses() {
        addExpense.classList.remove('active');
        viewExpenses.classList.add('active');
        newExpense.style.visibility = 'hidden';
        viewExpenses.style.visibility = 'visible';
        var table = `
            <table style="width:100%">
                <tr>
                    <th>Name</th>
                    <th colspan="2">Telephone</th>
                </tr>
                <tr>
                    <td>Bill Gates</td>
                    <td>55577854</td>
                    <td>55577855</td>
                </tr>
            </table>
        `
        for (var i = 0; i.length > 0; i++) {
            expenses.innerHTML = table;
        }
        showExpenses();
    });

    addExpense.addEventListener('click', function addExpense(){
        viewExpenses.classList.remove('active');
        addExpense.classList.add('active');
        expenses.style.visibility = 'hidden';
        newExpense.style.visibility = 'visible';
        addExpense();
    });

    submitBtn.addEventListener('submit', function submitData(){
        try{
            var title = document.getElementById('title').value;
            var category = document.getElementById('category').value;
            var amount = document.getElementById('amount').value;
            var date = document.getElementById('date').value;

            console.log(title, category, amount, date);
        }
        catch{
            throw 'Unable to get data. Please try again or contact your admin.';
        }
        submitData();
    });
</script>
<%- include ('partials/chat.ejs') %> 

