<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BudgetApp login page">
    
    <link rel="stylesheet" type="text/css" href="../CSS/login.css">
    <link rel="icon" type="image" href="https://img.icons8.com/dusk/2x/coin-in-hand.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    <title>BudgetApp | Login Page</title>
</head>
<body>
    <div class="wrapper">
        <div class="bg-svg"></div>
        <img id="login-svg" src="../IMG/investing.png" alt="">

        <div id="login-box">
            <center>
                <a id="logo" href="../HTML/index.html"><h1>BudgetApp <i class="fas fa-dollar-sign"></i></h1></a>
                <p>Take control of your financial freedom.</p>
                <!--<img id="photo" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.vfUtirjQYRe7uKkKEWA7OQHaHa%26pid%3DApi&f=1" alt="">-->
            </center>
            <form method="POST" action="../JS/action.js">
                <input id="usrname" class="input" type="text" placeholder="Username or Email" minlength="1" required>
                <br>
                <input id="passwd" class="input" type="password" placeholder="Password" minlength="1" required>
                <br>
                <input id="checkbox" type="checkbox"> Remember Me
                <a class="forgot" href="../HTML/forgot-password.html">Forgot Password?</a>
                <br>
                <input id="login" class="" type="submit" value="Login">
                <button id="create-account" class=""><a href="../HTML/registration.html" style="color: #ffffff;">Create Account</a></button>
            </form>
        </div>
        <div class="bg-svg2"></div>
    </div>
    <script type="text/javascript" src="../JS/action.js"></script>
</body>
</html>