<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a budget web app tool created by Dennis Williams">

    <link rel="stylesheet" type="text/css" href="../CSS/profile.css">
    <link rel="icon" type="image" href="https://img.icons8.com/dusk/2x/coin-in-hand.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    
    <title>Budget App | Profile Page</title>
</head>
<body>
    
    <div class="wrapper">
        <a id="logo" href="../HTML/index.html" target="_self"><h1>BudgetApp <i class="fas fa-dollar-sign"></i></h1></a>
        <div class="profile-info">
            <div>
                <img id="" src="../IMG/forbes.png" alt="Profile Picture">
                <a id="edit-pic" type="file" href="">Change Profile Picture</a>
            </div>
            <div>
                <h1 class="profile-name">John Doe</h1>
                <br>
                <p>Birthday: January 26, 1984</p>
                <p>Sex: M</p>
                <p>Address: 31 Spooner St, Quahog, Rhode Island 54286
                <p>Phone: 401.725.8824</p>
                    <p>Plan:  Basic</p>
            </div>
        </div>

        <div class="profile-details">
            <ul>
                <form method="GET" action="">
                    <h2>Account Details</h2>
                    <table>
                        <tr>
                            <td><label for="">Full Name</label></td>
                            <td><input type="text" name="" id="" class="input" value="John Doe"></td>
                        </tr>
                        <tr>
                            <td><label for="">Username</label></td>
                            <td><input type="text" name="" id="" class="input" value="JDoe42"></td>
                        </tr>
                        <tr>
                            <td><label for="">Email</label></td>
                            <td><input type="text" name="" id="" class="input" value="Jdoe42@mail.com"></td>
                        </tr>
                        <tr>
                            <td><label for="">Password</label></td>
                            <td><input type="password" name="" id="" class="input" value="John Doe"></td>
                        </tr>
                        <tr>
                            <td><label for="">Language</label></td>
                            <td>
                                <select>
                                    <option value="English" selected>English</option>
                                    <option value="Spanish">Spanish</option>
                                    <option value="French">French</option>
                                </select>
                            </td>
                        </tr>
                            
                            
                    </table>
                    <button>Edit <i class="fas fa-edit"></i></button>
                </form>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript" src="../JS/index.js"></script>
</html>