<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a budget web app tool created by Dennis Williams">

    <link rel="stylesheet" type="text/css" href="../CSS/registration.css">
    <link rel="icon" type="image" href="https://img.icons8.com/dusk/2x/coin-in-hand.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    
    <title>Budget App | Registration</title>
</head>
<body>
    <div id="design">
        <div class="overlay"></div>
        <center>
            <a id="overlay-title" href="../HTML/index.html">BudgetApp</a>
            <p id="overlay-text">Take control of your financial freedom.</p>
        </center>
    </div>
    <div class="signup-box">
        <div class="title">
            <center>
                <h1>Sign Up</h1>
                <p>Fill out the form below to create an account.</p>
            </center>
        </div>
        <form action="" method="POST">

                <input id="" class="name" type="text" placeholder="First Name" maxlength="45" required>
                <input id="" class="name" type="text" placeholder="Last Name" maxlength="45" required>
                <input id="" class="input" type="text" name="" placeholder="Username" maxlength="30" required>
                <br>
                <input id="" class="input" type="email" name="" placeholder="Email" required>
                <br>
                <input id="" class="input" type="tel" name="" placeholder="Phone" maxlength="10" required>
                <br>
                <input id="" class="input" type="password" name="" placeholder="Password" minlength="8" maxlength="30" required>
                <br>
                <input id="" class="input" type="password" name="" placeholder="Confirm Password" minlength="8" maxlength="30" required>
                <br>
                <input id="checkbox" type="checkbox" name="" id=""> I agree to <a href="../HTML/terms.html">Terms and Conditions</a> and <a href="">Privacy Policy</a></p>
                <br>
                <input id="btn" type="submit" value="Create Account">
                <br>
                <center><p id="signin">Already have an account? <a target="_self" href="../HTML/login.html">Sign In</a></p></center>
        </form>
    </div>
</body>
<script type="text/javascript" src="../JS/action.js.js"></script>
</html>