<%- include ('partials/markup.ejs') %> 
<%- include ('partials/navbar.ejs') %> 
        <title>Budget App | Page Not Found</title>
        <div class="container">
            <center>
                <img src="../IMG/404.png" alt="">
                <h1>Oops! Page not found</h1>
                <p>The page you are looking for doesn't exist or an error occurred.</p>
                <a id="" href="../HTML/index.html">Home</a>
                <a id="" href="../HTML/report-error.html">Report Error</a>
            </center>
        </div>
<%- include ('partials/chat.ejs') %> 