<%- include ('partials/markup.ejs') %> 
<%- include ('partials/navbar.ejs') %> 
    <div class="container-fluid">
        <div id="" class="row p-5 text-center">
            <h1 class="mb-4 text-center">Find ATMs near you</h1>
            <form action="/" method="POST" class="input-group">
                <input type="text" class="form-control-lg" placeholder="Enter address or zipcode" required>
                <button class="btn btn-dark">Search</button>
            </form>
        </div>
    </div>
<%- include ('partials/chat.ejs') %> 