<%- include ('partials/markup.ejs') %> 
<%- include ('partials/navbar.ejs') %> 

    <main>
        <div class="box">
            <h1 class="reset-title">Forgot your password?</h1>
            <p class="reset-description">No worries! Resetting your password is easy. We'll email you a link to reset your password. Enter the email associated with your account to get started.</p>
            <form>
                <input id="email" type="email" minlength="1" placeholder="Email@example.com" required>
                <br>
                <input id="btn-reset" type="submit" value="Reset Password">
            </form>
        </div>
    </main>
    <footer>
        <p id="copyright">&#9426 Budget App Password Reset Form. All Rights Reserved | Designed by Dennis Williams.</p>
    </footer>
</body>
<script type="text/javascript" src="../JS/action.js"></script>
<%- include ('partials/chat.ejs') %> 

