<%- include ('partials/markup.ejs') %> 
<%- include ('partials/navbar.ejs') %> 

    <main>
        <div class="box">
            <h1 class="reset-title">Password Reset</h1>
            <div class="password-criteria">
                <ul>
                    <li>MUST contain at least 8 characters</li>
                    <li>MUST contain at least one uppercase letter</li>
                    <li>MUST contain at least one nnumber</li>
                    <li>MUST contain at least one special character</li>
                    <li>CANNOT contain more than two identical characters</li>
                    <li>CANNOT match commonly used password character patterns</li>
                </ul>
            </div>
            <form action="action.js" method="POST">
                <input id="pwd" type="password" minlength="8" maxlength="30" placeholder="Password" required>
                <br>
                <input id="pwd-confirm" type="password" minlength="8" maxlength="30" placeholder="Confirm Password" required>
                <br>
                <input id="btn-reset" type="submit" value="Reset Password">
            </form>
        </div>
    </main>
<%- include ('partials/chat.ejs') %> 
    <footer>
        <p id="copyright">&#9426 Budget App Password Reset Form. All Rights Reserved | Designed by Dennis Williams.</p>
    </footer>
