<%- include ('partials/markup.ejs') %> 

    <div id="design">
        <div class="overlay"></div>
        <center>
            <a id="overlay-title" href="/login">BudgetApp</a>
            <p id="overlay-text">Take control of your financial freedom.</p>
        </center>
    </div>
    <div class="signup-box">
        <div class="title">
            <center>
                <h1>Sign Up</h1>
                <p>Fill out the form below to create an account.</p>
            </center>
        </div>
        <form action="" method="POST">

                <input id="" class="name" type="text" placeholder="First Name" maxlength="45" required>
                <input id="" class="name" type="text" placeholder="Last Name" maxlength="45" required>
                <input id="" class="input" type="text" name="" placeholder="Username" maxlength="30" required>
                <br>
                <input id="" class="input" type="email" name="" placeholder="Email" required>
                <br>
                <input id="" class="input" type="tel" name="" placeholder="Phone" maxlength="10" required>
                <br>
                <input id="" class="input" type="password" name="" placeholder="Password" minlength="8" maxlength="30" required>
                <br>
                <input id="" class="input" type="password" name="" placeholder="Confirm Password" minlength="8" maxlength="30" required>
                <br>
                <input id="checkbox" type="checkbox" name="" id=""> I agree to <a href="../HTML/terms.html">Terms and Conditions</a> and <a href="">Privacy Policy</a></p>
                <br>
                <input id="btn" type="submit" value="Create Account">
                <br>
                <center><p id="signin">Already have an account? <a target="_self" href="../HTML/login.html">Sign In</a></p></center>
        </form>
    </div>
<script type="text/javascript" src="../JS/action.js"></script>
